:root {
    --awUI-propEdit-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23888A' fill='none' %3e%3cpath d='M4.182 4h-.727A1.455 1.455 0 0 0 2 5.455V12a1.454 1.454 0 0 0 1.455 1.454H10A1.454 1.454 0 0 0 11.454 12v-.727'/%3e%3cpath d='m10.636 2.636 2.182 2.182m1.011-1.033a1.527 1.527 0 0 0-2.16-2.16L5.545 7.727V9.91h2.182l6.102-6.116v-.008Z'/%3e%3c/svg%3e");
}

.block-properties {
    display: grid !important;
    grid-template-columns: 1fr 10fr;
    overflow: hidden;
    position: relative;
    padding: 0 8px !important;
    border: 4px solid var(--ls-block-properties-background-color) !important;
    background: var(--ls-block-properties-background-color) !important;
    /* grid-gap: 1px 0; */
    /* background-color: #88888833; */
}

.block-properties.page-properties {
    border: 4px solid var(--ls-page-properties-background-color) !important;
    background: var(--ls-page-properties-background-color) !important;
}

.is-awSt-theme .block-properties *::before, .block-properties *::after {
    transform: translateY(-1px);
}

.ls-block[data-collapsed] > div > div > div > div > .block-content > .block-properties {
    display: none !important;
}
.ls-block:not([data-collapsed]) > div > div > div > div > .block-content > .block-properties,
.ls-block[data-collapsed="false"] > div > div > div > div > .block-content > .block-properties {
    display: grid !important;
}

.block-properties > div {
    display: contents !important;
}
.block-properties > div > :is(div, span, a) {
    margin: 0;
    /* background-color: var(--ls-page-properties-background-color); */
}
.block-properties span.mr-1 {
    display: none;
}
.block-properties .page-property-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-properties > div > :is(div, span, a):first-child {
    padding: 0 1.8em 0 1.7em;
    position: relative;
}

.block-properties .bracket {
    display: none;
}

.block-properties > div > :is(div, span, a):first-child::after {
    content: "â—";
    position: absolute;
    top: 0.7em;
    right: 0.8em;
    color: var(--ls-primary-text-color);
    opacity: .2;
    font-family: Inter;
    font-size: 0.6em;
}

/* default */
.block-properties .page-property-value::before {
    content: "\ea08";
    position: absolute;
    z-index: 0;
    margin-top: -0.12ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-block-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
    width: 1em;
}
.page-properties .page-property-value::before {
    background: var(--ls-page-properties-background-color);
}

/* ext link */
.block-properties .page-property-value a.external-link::before {
    content: "\eade";
    position: absolute;
    z-index: 1;
    margin-top: -0.24ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-block-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
    width: 1em;
}
.page-properties .page-property-value a.external-link::before {
    background: var(--ls-page-properties-background-color);
}
/* page refs */
.block-properties .page-property-value .page-reference:first-of-type::before {
    content: "\ea24";
    position: absolute;
    z-index: 1;
    margin-top: -0.36ex;
    left: 7px;
    font-family: tabler-icons;
    color: #888a;
    background: var(--ls-block-properties-background-color);
    font-size: 1.3em;
    font-weight: 400;
    width: 1em;
}
.page-properties .page-property-value .page-reference:first-of-type::before {
    background: var(--ls-page-properties-background-color);
}
/* key */
.block-properties .page-property-key[data-ref]::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: -0.12ex;
    left: 1px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-block-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
    width: 1em;
}
.page-properties .page-property-key[data-ref]::before {
    background: var(--ls-page-properties-background-color);
}

/* .block-properties .page-property-value a[data-href*="pdf"]::before {
    content: "\ea39";
    position: absolute;
    z-index: 2;
    margin-top: -0.12ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
} */


/* edit */
.pre-block > .flex > .editor-wrapper > .editor-inner > textarea {
    padding: 0 0 0 2.2em !important;
    border: 4px solid transparent !important;
    background:
        var(--awUI-propEdit-icon) 0.45em 0 / 1.2em 1.5em repeat-y local,
        linear-gradient(transparent 0%, transparent 96%, #88888833 100%) 0 0 / 1px 1.5em repeat local !important;
    white-space: pre;
    overflow: auto;
}


/*  Flow theme fix*/
.page-property-key {
    min-width: unset !important;
    max-width: unset !important;
}
.block-properties::before,
.block-properties .inline.mr-1::before {
    display: none !important;
}
.ls-block .page-reference:hover {
    filter: none;
}