.block-properties {
    overflow: hidden;
    position: relative;
    padding: 0 8px !important;
    border: 4px solid var(--ls-block-properties-background-color) !important;
    background: var(--ls-block-properties-background-color) !important;
}

.block-properties.page-properties {
    border: 4px solid var(--ls-page-properties-background-color) !important;
    background: var(--ls-page-properties-background-color) !important;
}

.block-properties .page-property-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-properties .bracket {
    display: none;
}

.block-properties > div,
.block-properties > div > :is(div, span, a):first-child {
    position: relative;
}


body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties),
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"],
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties,
.block-properties.page-properties[data-awpr-page-props-layout="grid"] {
    display: grid !important;
    grid-template-columns: 1fr 10fr;
}

body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties),
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"],
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] {
    display: block !important;
}

/* Collapsed*/
.ls-block[data-collapsed] > div > div > div > div > .block-content > .block-properties {
    display: none !important;
}

body[data-awpr-block-props-layout="grid"] .ls-block:not([data-collapsed]) > div > div > div > div > .block-content > .block-properties:not(.page-properties),
body[data-awpr-block-props-layout="grid"] .ls-block[data-collapsed="false"] > div > div > div > div > .block-content > .block-properties:not(.page-properties),
.ls-block:not([data-collapsed]) > div > div > div > div > .block-content > .block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"],
.ls-block[data-collapsed="false"] > div > div > div > div > .block-content > .block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"] {
    display: grid !important;
}
body[data-awpr-block-props-layout="flat"] .ls-block:not([data-collapsed]) > div > div > div > div > .block-content > .block-properties:not(.page-properties),
body[data-awpr-block-props-layout="flat"] .ls-block[data-collapsed="false"] > div > div > div > div > .block-content > .block-properties:not(.page-properties),
.ls-block:not([data-collapsed]) > div > div > div > div > .block-content > .block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"],
.ls-block[data-collapsed="false"] > div > div > div > div > .block-content > .block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"] {
    display: block !important;
}


body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"] > div,
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div,
.block-properties.page-properties[data-awpr-page-props-layout="grid"] > div {
    display: contents !important;
}

body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"] > div,
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] > div {
    display: inline-block !important;
}

body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"] > div,
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] > div {
    margin-right: 6px;
}

body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div::after,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"] > div::after,
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div::after,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] > div::after {
    content: ',';
    opacity: 0.7;
}
.block-properties > div:last-child::after {
    content: '' !important;
}

body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > span.mr-1,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"] > div > span.mr-1,
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > span.mr-1,
.block-properties.page-properties[data-awpr-page-props-layout="grid"] > div > span.mr-1 {
    display: none;
}

body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child::after,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"] > div > :is(div, span, a):first-child::after,
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > :is(div, span, a):first-child::after,
.block-properties.page-properties[data-awpr-page-props-layout="grid"] > div > :is(div, span, a):first-child::after {
    content: "â—";
    position: absolute;
    top: 0.7em;
    right: 0.8em;
    color: var(--ls-primary-text-color);
    opacity: .2;
    font-family: Inter;
    font-size: 0.6em;
}

body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > :is(div, span, a),
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"] > div > :is(div, span, a),
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > :is(div, span, a),
.block-properties.page-properties[data-awpr-page-props-layout="grid"] > div > :is(div, span, a) {
    margin: 0;
}


body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"] > div > :is(div, span, a):first-child,
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > :is(div, span, a):first-child,
.block-properties.page-properties[data-awpr-page-props-layout="grid"] > div > :is(div, span, a):first-child {
    padding: 0 1.8em 0 0;
}

body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"] > div > :is(div, span, a):first-child,
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div > :is(div, span, a):first-child,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] > div > :is(div, span, a):first-child {
    padding: 0 0 0 0;
}

body[data-awpr-block-props-icons][data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child,
.block-properties:not(.page-properties)[data-awpr-block-props-icons][data-awpr-block-props-layout="grid"] > div > :is(div, span, a):first-child,
body[data-awpr-page-props-icons][data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > :is(div, span, a):first-child,
.block-properties.page-properties[data-awpr-page-props-icons][data-awpr-page-props-layout="grid"] > div > :is(div, span, a):first-child {
    padding: 0 1.8em 0 1.7em;
}

body[data-awpr-block-props-icons][data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child,
.block-properties:not(.page-properties)[data-awpr-block-props-icons][data-awpr-block-props-layout="flat"] > div > :is(div, span, a):first-child,
body[data-awpr-page-props-icons][data-awpr-page-props-layout="flat"] .block-properties.page-properties > div > :is(div, span, a):first-child,
.block-properties.page-properties[data-awpr-page-props-icons][data-awpr-page-props-layout="flat"] > div > :is(div, span, a):first-child {
    padding: 0 0 0 1.4em;
}

body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) .page-property-value > .mr-1,
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"] .page-property-value > .mr-1,
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties .page-property-value > .mr-1,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] .page-property-value > .mr-1 {
    margin-right: 0;
}

body[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties),
.block-properties:not(.page-properties)[data-awpr-block-props-layout="grid"],
body[data-awpr-page-props-layout="grid"] .block-properties.page-properties,
.block-properties.page-properties[data-awpr-page-props-layout="grid"] {
    --awPr-valueIcon-left: 8px;
    --awPr-keyIcon-top: -0.1ex;
}
body[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties),
.block-properties:not(.page-properties)[data-awpr-block-props-layout="flat"],
body[data-awpr-page-props-layout="flat"] .block-properties.page-properties,
.block-properties.page-properties[data-awpr-page-props-layout="flat"] {
    --awPr-valueIcon-left: 2px;
    --awPr-keyIcon-top: -0.3ex;
}
