.block-properties {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0 8px !important;
    border: 4px solid var(--ls-block-properties-background-color) !important;
    background: var(--ls-block-properties-background-color) !important;
}

.block-properties.page-properties {
    border-color: var(--ls-page-properties-background-color) !important;
    background-color: var(--ls-page-properties-background-color) !important;
}

.block-properties > div > div {
    display: inline-flex !important;
}

.page-property-key {
    display: inline-flex;
    flex-grow: 1;
}

.block-properties span.page-property-key:hover {
    background: none;
}

.block-properties .page-property-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-properties .bracket {
    display: none;
}

.block-properties .page-property-value .mr-1 {
    margin-right: 0;
}

.block-properties > div > :is(div, span, a):first-child {
    line-height: 2.7ex;
}


[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties),
[data-awpr-page-props-layout="grid"] .block-properties.page-properties,
.ls-block.ls-block[data-refs-self*=".awpr-layout-grid"] .block-properties {
    display: grid !important;
    grid-template-columns: 1fr 10fr;
}

[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties),
[data-awpr-page-props-layout="flat"] .block-properties.page-properties,
.ls-block.ls-block[data-refs-self*=".awpr-layout-flat"] .block-properties {
    display: block !important;
}

/* Collapsed*/
.ls-block.ls-block[data-collapsed^="{"] > div > div > div > div > .block-content > .block-properties {
    display: none !important;
}
[data-awpr-block-props-layout="grid"] .ls-block:not([data-collapsed^="{"]) > div > div > div > div > .block-content > .block-properties:not(.page-properties),
.ls-block.ls-block.ls-block:not([data-collapsed^="{"])[data-refs-self*=".awpr-layout-grid"] > div > div > div > div > .block-content > .block-properties {
    display: grid !important;
}
[data-awpr-block-props-layout="flat"] .ls-block:not([data-collapsed^="{"]) > div > div > div > div > .block-content > .block-properties:not(.page-properties),
.ls-block.ls-block.ls-block:not([data-collapsed^="{"])[data-refs-self*=".awpr-layout-flat"] > div > div > div > div > .block-content > .block-properties {
    display: block !important;
}


[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div,
[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div,
.ls-block.ls-block[data-refs-self*=".awpr-layout-grid"] .block-properties > div {
    display: contents !important;
}

[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div,
[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div,
.ls-block.ls-block[data-refs-self*=".awpr-layout-flat"] .block-properties > div {
    display: inline-flex !important;
}

[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div::after,
[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div::after,
.ls-block.ls-block[data-refs-self*=".awpr-layout-flat"] .block-properties > div::after {
    content: ',';
    display: block;
    margin-right: 0.5em;
    opacity: 0.7;
}
[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div::after,
[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div::after,
.ls-block.ls-block[data-refs-self*=".awpr-layout-grid"] .block-properties > div::after {
    display: none;
}
.block-properties > div:last-child::after {
    display: none !important;
}

[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > span.mr-1,
[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > span.mr-1,
.ls-block.ls-block[data-refs-self*=".awpr-layout-grid"] .block-properties > div > span.mr-1 {
    display: none;
}

[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div > span.mr-1,
[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div > span.mr-1,
.ls-block.ls-block[data-refs-self*=".awpr-layout-flat"] .block-properties > div > span.mr-1 {
    display: inline;
    margin-right: 0.4em;
}

[data-awpr-block-props-layout="grid"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child::after,
[data-awpr-page-props-layout="grid"] .block-properties.page-properties > div > :is(div, span, a):first-child::after,
.ls-block.ls-block[data-refs-self*=".awpr-layout-grid"] .block-properties > div > :is(div, span, a):first-child::after {
    content: "â—";
    display: block;
    margin: 0 1em 0 1.6em;
    color: var(--ls-primary-text-color);
    opacity: .2;
    font-family: Inter;
    font-size: 0.6em;
}
[data-awpr-block-props-layout="flat"] .block-properties:not(.page-properties) > div > :is(div, span, a):first-child::after,
[data-awpr-page-props-layout="flat"] .block-properties.page-properties > div > :is(div, span, a):first-child::after,
.ls-block.ls-block[data-refs-self*=".awpr-layout-flat"] .block-properties > div > :is(div, span, a):first-child::after {
    display: none;
}


/* Cover */
/*
:root {
    --awPr-poster-width: 300px;
}
.ls-block[data-refs-self*="cover"] .block-properties {
    padding-right: calc(var(--awPr-poster-width) + 1em) !important;
}
.ls-block[data-refs-self*="cover"] .block-properties .image-resize {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    width: var(--awPr-poster-width) !important;
}
.ls-block[data-refs-self*="cover"] .block-properties .asset-container {
    margin: 0;
}
.ls-block[data-refs-self*="cover"] .block-properties .image-resize img {
    width: var(--awPr-poster-width) !important;
}
 */
