:root {
    --awPr-toolbar-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23888' fill='none' %3e%3cpath d='M4.182 4h-.727A1.455 1.455 0 0 0 2 5.455V12a1.454 1.454 0 0 0 1.455 1.454H10A1.454 1.454 0 0 0 11.454 12v-.727'/%3e%3cpath d='m10.636 2.636 2.182 2.182m1.011-1.033a1.527 1.527 0 0 0-2.16-2.16L5.545 7.727V9.91h2.182l6.102-6.116v-.008Z'/%3e%3c/svg%3e");
}

#awPr-toggle-icon {
    display: block;
    width: 21px;
    height: 21px;
    background: var(--awPr-toolbar-icon);
    opacity: 1;
    margin-top: 2px;
    opacity: 1 !important;
}
